.form-container {

  margin-left: 20%;
  margin-right: 20%;

  text-align: center;

  h2 {
    color: #000000;
    text-align: center;
  }
  
  .actions {
    input {
      display: block;
      width: 100%;
      border: 1px solid rgb(232, 209, 204);
      background-color: whitesmoke;
      padding: 14px 28px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      text-align: center;
    }
  }

  .custom_button{
    padding: 14px 28px;
    background-color: rgb(232, 209, 204);
  }

  }